.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 400;
    top: 0;
    left: 0;
    background-color: #002350;
    overflow-x: hidden;
    transition: 0.1s;
    
}

.overlay-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: #fff;
    
}

.overlay-content-box {
    display: flex;
    height: 60px;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
   
}

.overlay-content-box svg {
    width: 30px;
    height: 30px;
    margin: 0 15px;
}

.overlay-content p {
    display: flex;
    font-size: 20px;
    height: 60px;
    align-items: center;
    color: #fff;
    margin: 0 15px;
}

.overlay a {
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    
    
}
