:root {
  --bg-h: #eef5ff;
  --text-h: #0c8d42;
  /* 
  --text-h: #252e49;
  --bg: #252e49; 
  */
  --bg: #0c8d42;
  --text: #eef5ff;
}

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.header {
  position: relative;
  height: 60px;
  z-index: 1;
}

.header_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  position: fixed;
  width: 100vw;
  min-width: 320px;
  height: 60px;
  background-color: var(--bg-h);
}
.header_box h1 {
  font-size: 1.5em;
  font-weight: bold;
  color: var(--text-h);
}

.icon_text_loc {
  display: flex;
  align-items: center;
}
.icon_text_loc p {
  font-size: 0.7em;
  color: var(--text-h);
}

.icon_loc {
  display: flex;
  align-items: center;
  margin: 5px;
  width: 13px;
  height: 13px;
}

.subheader {
  position: relative;
  height: 100px;
}

.subheader_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100vw;
  min-width: 320px;
  height: 100px;
  background-color: var(--bg-h);
  border-bottom: 1px solid #252e49;
  padding: 0 15px;
}

.day_mounth_year {
  color: var(--text-h);
}

.box_date_ru {
  display: flex;
  align-items: center;
}
.box_date_ru .box_year {
  font-size: 0.8em;
  font-weight: bold;
}

.box_dayru {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: var(--bg);
  color: var(--text);
}

.box_date_ar {
  display: flex;
  align-items: center;
}
.box_date_ar .box_year {
  font-size: 0.8em;
  font-weight: bold;
}

.box_dayar {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  background-color: var(--bg);
  color: var(--text);
}

.box_mounth_year {
  margin: 5px;
}

.week_clock {
  display: flex;
  flex-direction: column;
}

.box_week {
  color: var(--text-h);
  font-size: 0.9em;
  text-transform: uppercase;
}

.box_clock {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  color: var(--text-h);
  font-weight: bold;
}
.box_clock span {
  padding: 0 0 0 5px;
  font-size: 0.5em;
  color: var(--text-h);
}

.next_prayer_times {
  font-size: 0.8em;
  color: var(--text-h);
  padding-top: 10px;
}

.myline {
  display: flex;
  align-items: center;
  height: 2px;
  background-color: var(--bg);
  margin-top: 3px;
}

#redLine {
  height: 2px;
  background-color: #d49292;
  transition: width 1s linear;
}

.main {
  position: relative;
  height: 450px;
}

.main_box {
  width: 100vw;
  min-width: 320px;
  height: 450px;
  background-color: var(--bg-h);
}

.text_clock_prayer_times {
  display: flex;
  align-items: center;
  height: 70px;
}

.text_prayer_times {
  width: 100vw;
  white-space: nowrap;
}
.text_prayer_times h2 {
  font-size: 1.2em;
  font-weight: bold;
}
.text_prayer_times p {
  padding: 3px 0 5px;
  color: #6d8ddd;
  font-size: 0.7em;
}

.text_prayer_times h2:nth-child(3) {
  border-bottom: 1px solid #6d8ddd;
}

.text_prayer_times h2:last-child {
  display: flex;
  justify-content: flex-end;
  padding-right: 15px;
}

.text_prayer_times h2:nth-child(1) {
  color: #252e49;
}

.icon_prayer_time {
  margin: 15px;
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border: 1px solid #252e49;
  border-radius: 10px;
}
.icon_prayer_time svg {
  fill: var(--bg);
}

.text_prayer_times h2:nth-child(1) {
  color: var(--text-h);
}

.past-prayer {
  color: #252e49;
}

.next-prayer {
  color: #6d8ddd;
}

.current-prayer {
  color: #6d8ddd;
}

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border-top: 1px solid #252e49;
  width: 100%;
  height: 50px;
  color: #252e49;
  cursor: pointer;
  font-size: 1.5em;
  padding-left: 15px;
  font-weight: bold;
}

option {
  background-color: #252e49;
  color: #eef5ff;
  font-size: 0.6em;
  border: 0px;
  outline: 0px;
}

.listmounth {
  background-color: #eef5ff;
}

table {
  width: 100vw;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

.stici {
  background-color: #eef5ff;
  position: sticky;
  top: 59px;
}

.current-day-cell {
  background-color: #252e49;
  color: #ffffff;
}

table tr th {
  font-size: calc(2vw + 6px);
  padding: 10px 2px;
  color: #252e49;
}

table tr td {
  font-size: calc(3vw + 2px);
  text-align: center;
  padding: 5px 1px;
  border: 0px;
}

.ramadan {
  position: absolute;
  left: 105px;
  top: 30px;
  width: 80px;
}

.myinstrimg {
	width: 100vw;
	height: auto;
}