@font-face {
  font-family: 'evolventa-normal';
  src: url('../fonts/evolventa/normal/evolventa-normal.woff2') format('woff2'),
    url('../fonts/evolventa/normal/evolventa-normal.woff2') format('woff'),
    url('../fonts/evolventa/normal/evolventa-normal.otf') format('opentype'),
    url('../fonts/evolventa/normal/evolventa-normal.ttf') format('opentype');
}

@font-face {
  font-family: 'evolventa-bold';
  src: url('../fonts/evolventa/bold/evolventa-bold.woff2') format('woff2'),
    url('../fonts/evolventa/bold/evolventa-bold.woff2') format('woff'),
    url('../fonts/evolventa/bold/evolventa-bold.otf') format('opentype'),
    url('../fonts/evolventa/bold/evolventa-bold.ttf') format('opentype');
}

@font-face {
  font-family: 'monplesir';
  src: url('../fonts/monplesir.woff2') format('woff2'),
    url('../fonts/monplesir.woff2') format('woff'),
    url('../fonts/monplesir.otf') format('opentype'),
    url('../fonts/monplesir.ttf') format('opentype');
}


body {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 10px;
}

a {
  color: #000;
}
