:root {
	--white: #ffffff;
	--header: #1c6758;
	--text: #1c6758;
	--subtext: #248f7a;
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

.wrapper {
	overflow: hidden;
}

body {
	font-family: Verdana, sans-serif;
	font-size: 10px;
	color: rgb(143, 143, 143);
}


.footer {
    position: relative;
    width: 100%;
}

table {
    width: 100%;
    min-width: 320px;
}

table,
td,
th {
    border: 1px solid;
    border-collapse: collapse;
    border-color: var(--subtext);
}

table tr th {
    font-size: calc(2vw + 6px);
    padding: 10px 2px;
    color: var(--white);
    background-color: var(--header);
    border: 0;
}

table tr td {
    font-size: calc(3vw + 2px);
    text-align: center;
    padding: 5px 1px;
    border: 0px;
}


tr:nth-child(odd) {
    background-color: #f0f0f0;
}