/* Theme */
:root {
  --color-background: #fff;
  --color-default: #292929;
}

.dark-mode body {
  --color-background: #313131;
  --color-default: #fff;
}

/* Body */
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  color: var(--color-default);
  background-color: var(--color-background);
}

/* Styles */
.btn {
  position: fixed;
  bottom: 100px;
}

/* Header */
header {
  position: relative;
  height: 60px;
}

.header_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  min-width: 320px;
  height: 60px;
  padding: 0 15px;
}

.header_content h1 {
  font-size: 1.5em;
  font-weight: bold;
}

.header_content p {
  font-size: 1.2em;
}

/* Main */
main {
  position: relative;
}

.main_content {
  position: absolute;
  width: 100vw;
  border: 2px solid #f0a5a5;
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 50px;
  bottom: 0;
  z-index: 10;
}

.footer_tabs {
  display: flex;
  justify-content: space-around;
  width: 100vw;
  font-size: 1.2em;
}

.footer_tabs button {
  width: 100vw;
  height: 50px;
  border-top: 1px solid #c0c0c0;
}

.footer_active_line {
  position: absolute;
  height: 2px;
  top: 0;
  background-color: red;
  transition: left 0.3s ease, width 0.3s ease;
}