* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --bg: #eef5ff;
  --text: #2a313d;
  --dop-text: #8f9eb1;
  --sub-bg: #eef5ff;
  --sub-text: #252e49;
  --sub-circle: #8f9eb1;
  --sub-dop-text: #8f9eb1;
  --line-timer-bg: #252e49;
  --line-timer-text: #e2e8f0;
  --line-timer-line: #8f9eb1;
  --line-timer-line-anim: #fca7a7;
  --main-border-bottom: #252e49;
  --main-border-right: #252e49;
  --main-text: #252e49;
  --main-dop-text: #8f9eb1;
  --main-time-prayer: #252e49;
  --main-time-prayer-start: #b94343;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #eef5ff;
}

.header_container {
  position: relative;
  height: 60px;
  z-index: 1;
}

.header_container_name_loc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  min-width: 320px;
  height: 70px;
  padding: 0 15px;
  background-color: var(--bg);
}

.happy {
  background-image: url(../img/ramadan.png);
  background-size: 120px;
  background-position: 150px -25px;
  background-repeat: no-repeat;
  animation: happy 10s ease-in-out;
  z-index: 10;
}

@keyframes happy {
  0% {
    background-position: 150px -100px;
  }
  30% {
    background-position: 150px -25px;
  }
}
.name_ruznama {
  font-size: 28px;
  font-weight: bold;
  color: var(--text);
}

.name_localization {
  padding-top: 5px;
  font-size: 15px;
  color: var(--dop-text);
}

.subheader_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  min-width: 320px;
  height: 120px;
  padding: 0 15px;
  background-color: var(--sub-bg);
}

.subheader_date {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.subheader_day {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background-color: var(--sub-circle);
  width: 30px;
  height: 30px;
}

.day,
.mounth,
.year {
  color: var(--sub-text);
}

.day {
  font-size: 15px;
  color: #fff;
}

.subheader_mounth_year {
  padding-left: 10px;
}

.mounth {
  font-size: 20px;
}

.year {
  font-size: 15px;
  font-weight: bold;
}

.week {
  padding-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: var(--sub-text);
}

.clock {
  display: flex;
  font-size: 23px;
}

.clock span {
  padding: 7px 5px;
  font-size: 12px;
  color: var(--sub-dop-text);
}

.timeToNextPrayerContainer {
  height: 32px;
  background-color: var(--line-timer-bg);
}

.next_prayer_times {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  font-size: 16px;
  color: var(--line-timer-text);
}

.myline {
  display: flex;
  align-items: center;
  height: 2px;
  background-color: var(--line-timer-line);
  margin-top: 3px;
}

#redLine {
  height: 2px;
  background-color: var(--line-timer-line-anim);
  transition: width 1s linear;
}

.main {
  position: relative;
}

.main_container {
  position: absolute;
}

.main_container_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  min-width: 320px;
  height: 70px;
  padding: 0 15px;
  border-bottom: 1px solid var(--main-border-bottom);
}

.main_container_name_descr {
  padding: 0 10px;
}

.main_container_icon_name_descr {
  display: flex;
}

.prayer-icon {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  border-right: 1px solid var(--main-border-right);
}

.prayer-name {
  font-weight: bold;
  font-size: 20px;
  color: var(--main-text);
}

.prayer-description {
  font-size: 10px;
  color: var(--main-dop-text);
}

.prayer-time {
  font-size: 25px;
  color: var(--main-time-prayer);
}

.highlighted {
  font-weight: bold;
  color: var(--main-time-prayer-start);
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: 0;
  border-top: 1px solid #252e49;
  width: 100%;
  height: 50px;
  color: #252e49;
  cursor: pointer;
  font-size: 1.5em;
  padding-left: 15px;
  font-weight: bold;
}

option {
  background-color: #252e49;
  color: #eef5ff;
  font-size: 0.6em;
  border: 0px;
  outline: 0px;
}

.listmounth {
  background-color: #eef5ff;
}

table {
  width: 100vw;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

.stici {
  background-color: #eef5ff;
  position: sticky;
  top: 59px;
}

.current-day-cell {
  background-color: #252e49;
  color: #ffffff;
}

table tr th {
  font-size: calc(2vw + 6px);
  padding: 10px 2px;
  color: #252e49;
}

table tr td {
  font-size: calc(3vw + 2px);
  text-align: center;
  padding: 5px 1px;
  border: 0px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  position: relative;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}