header {
    position: relative;
    height: 60px;
}

.header_box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 60px;
    background-color: #a52a2a;
    border-radius: 0 0 15px 15px;

    h1 {
        font-size: 25px;
        font-weight: bold;
        color: #fff;
    }
}