/*Theme*/
:root {
  --color-background: #fff;
  --color-default: #292929;
  --background-image: url('../img/logo-dark.png');

  --filter: invert(0%);
}

.dark-mode body {
  --color-background: #313131;
  --color-default: #fff;
  --background-image: url('../img/logo-light.png');

  --filter: invert(100%);
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  color: var(--color-default);
  background-color: var(--color-background);
}

/*Container Styles*/

/*SVG Container*/
.svg_container svg {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
}

/* */

/*Header*/
header {
  position: relative;
  height: 60px;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  min-width: 320px;
  height: 60px;
  padding: 0 15px;
  border-bottom: 1px solid #000;
}

.menu_h_text {
  display: flex;
  align-items: center;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  padding: 0 10px;
}

h2 {
  font-size: 1.2em;
  padding-top: 5px;
  color: #3cac6a;
}

/*Main*/
img {
  width: 50px;
  height: 50px;
  filter: var(--filter);
}

.img {
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;
  width: 50px;
  height: 50px;
}

/*Footer*/