header {
  position: relative;
  height: 60px;
  z-index: 1;
}

.header_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100vw;
  min-width: 320px;
  height: 60px;
  background-color: #fff;
  padding-right: 15px;
}

.header_container svg {
  width: 30px;
  min-width: 30px;
  height: 30px;
  margin: 15px;
}

.header_text {
  flex: 1;
}

.header_text h1 {
  font-size: 1.8em;
  font-family: 'evolventa-bold';
}

.header_text #load-button {
  display: inline;
}

.header_text p {
  display: inline;
  font-size: 1.5em;
  font-family: 'evolventa-normal';
}

.header_text img {
  width: 18px;
}

.header_right {
  display: flex;
  gap: 2px;
  flex-wrap: wrap;
  padding: 0 10px;
}

.header_right svg {
  margin: 5px;
  width: 20px;
  min-width: 20px;
  height: 20px;
}

.ramadan {
  position: relative;
  top: -14px;
  left: 0;
}

.ramadan img {
  width: 70px;
  height: auto;
}