.main_left .main_prayer_times {
  margin: 5px 0;
}

.main_prayer_times_icon_text {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 10px;
}

.main_prayer_times_icon_text svg {
  width: 30px;
  max-width: 30px;
  height: 30px;
}

.main_prayer_text {
  padding: 0 10px;
}

.main_prayer_text h2 {
  font-size: 1.5em;
  font-weight: bold;
}

.main_prayer_text p {
  font-size: 2em;
}

/*Месяц Год*/
.mounth_year {
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
  background-color: #f1f1f1;
  border-radius: 10px;
}

.mounth_year .mounth {
  display: flex;
  align-items: center;
}

.mounth_year .mounth::before {
  content: url(../img/svg/mounth.svg);
}

.mounth_year .year {
  display: flex;
  align-items: center;
}

.mounth_year .year::before {
  content: url(../img/svg/year.svg);
}

.mounth_year p {
  padding: 0 2px;
  font-size: 1.3em;
  text-transform: uppercase;
}

/*End Times*/
.end_priyer_times {
  background-color: #f1f1f1;
  border-radius: 10px;
  padding: 10px;
}

#nextPrayerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#nextPrayerText {
  font-size: 1.5em;
  text-transform: uppercase;
}

#nextPrayerTime {
  font-size: 2em;
  font-weight: bold;
  color: #701212;
}

.highlighted {
  font-weight: bold;
  color: #11853e;
}