.main_table {}

#current-month {
  font-size: 1.2em;
  padding: 5px 15px;
}

.main_table  table {
  width: 100vw;
  border-collapse: collapse;
}

.main_table table tbody tr:nth-child(even) {
  background: #F7F7F7;

}

.main_table thead {
  position: sticky;
  top: 59px;
}

.main_table .today {
  background-color: #dde2ee !important;
  font-weight: bold;
}

.main_table table tr th {
  font-size: calc(2vw + 5px);
  border: 1px solid #ddd;
  background-color: #f2f2f2;
  padding: 10px 0;
}

.main_table table tr td {
  text-align: center;
  font-size: calc(2vw + 6px);
  padding: 5px 0;
  border: 0;
  border: 1px solid #ddd;
}

.main_table .th_data {
  padding: 5px calc(1vw + 2px);
}


.main_table table td {
  padding: 5px 10px;
  border: 1px solid #eee;
  text-align: left;
}


/*Table Year Mounth*/
.payer_table_container h2 {
  display: flex;
  font-size: 20px;
  width: 100vw;
  height: 30px;
  color: #000000;
  font-weight: bold;
}

table {
  position: relative;
  border-collapse: collapse;
  width: 100vw;
}

table tr th {
  font-size: calc(2vw + 6px);
}

table tr td {
  font-size: calc(3vw + 2px);
  text-align: center;
  padding: 5px 0;
  border: 0;
}

td,
th {
  border-bottom: 1px solid #2c2c2c !important;
}

tr {
  color: ;
}

.main_table_stici,
th {
  background-color: #f1f1f1;
  color: #000000;
}

th {
  padding: 10px 0;
}

.main_table_stici {
  position: sticky;
  top: 59px;
}

#currentMonth {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  font-size: 1em;
  padding-bottom: 10px;
  color: #11853e;
}

/*Year*/
.accordion,
.payer_table_container h2 {
  font-size: 20px;
  width: 100vw;
  display: flex
}

.payer_table .payer_table_container h2 {
  justify-content: center;
  height: 30px
}

.payer_table .accordion {
  justify-content: space-between;
  color: #000;
  cursor: pointer;
  padding: 15px;
  border: none;
  outline: 0;
  transition: .4s;
}

.payer_table .accordion:after {
  content: "+";
  color: #777;
  float: right;
  margin-left: 5px;
}

.payer_table .active:after {
  content: "−";
}

.payer_table .panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-out;
}